name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-22.04
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    steps:
      - name: Run release-please
        id: release
        uses: googleapis/release-please-action@v4
        with:
          # this assumes that you have created a personal access token
          # (PAT) and configured it as a GitHub action secret named
          # `MY_RELEASE_PLEASE_TOKEN` (this secret name is not important).
          token: ${{ secrets.RELEASE_PLEASE }}
          release-type: rust

  build:
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y libgtk-3-dev libxdo-dev libappindicator3-dev

      - name: Install Rust
        uses: dtolnay/rust-action@stable

      - name: Build release
        run: cargo build --release

      - name: Rename binary
        run: mv target/release/rimay-type rimay-type-x86_64-linux

      - name: Upload binary to release
        run: gh release upload ${{ needs.release-please.outputs.tag_name }} rimay-type-x86_64-linux
        env:
          GH_TOKEN: ${{ secrets.RELEASE_PLEASE }}
